@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
// Colors
$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$almost-black: hsl(0, 0%, 8%);
$black-modal: hsl(0, 0%, 0%, 50%);
// Fonts
$font-size-paragraph: 18px;
$font-family: "Epilogue", sans-serif;
// Dimensions
$Width-mobile: 23.4375rem;
$Height-mobile: 130vh;
$Width-desktop: 100vw;
$Height-desktop: 120vh;
$Width-media: 37.5rem;
$Width-maxim: 75rem;
